.bin
cocos2d
out
proj.android
proj.ios_mac
proj.linux
CMakeLists.txt
cocos-project-template.json
.vs

Debug.win32
Release.win32
build-cfg.json
CocosCppProj.sln
CocosCppProj.vcxproj
CocosCppProj.vcxproj.filters
CocosCppProj.vcxproj.user
game.aps
game.rc
resource.h